{% extends "admin/master.html" %}


{% block body %}
	<center><h5 class="mx-auto">Товари</h5></center>
	<a href="addcategory/" type="button" class="btn btn-primary btn-lg btn-dark">Додати категорію</a>
	<a href="/admin/category" type="button" class="btn btn-primary btn-lg btn-danger">Видалити категорію</a>
	<hr>
	<a href="additem/" type="button" class="btn btn-primary btn-lg btn-dark">Додати товар</a>
	<a href="item/" type="button" class="btn btn-primary btn-lg btn-danger">Видалити товар</a>
{% endblock %}